/* normalizador */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kotta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@500&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(117, 50, 26);
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
  color: darkolivegreen !important;
}

.navbar-toggler i {
  color: rgb(255, 255, 255) !important;
}

.jumbotron {
  background: url(./multimedia/img4.jpg);
  background-size: cover;
  background-position: right;
  color: rgb(186, 201, 161);
  text-shadow: 0 0 10px chocolate;
  text-align: left;
}

.btn {
  border: 5px solid #504f4f;
  background-color: chocolate;
  color: bisque;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: right;
}

.fondoprincipal {
  background-image: url(./multimedia/fondof.svg);
  background-size: cover;
}

.col {
  border: 2px solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

.col p {
  font-family: "Kotta One";
  color: #ffffff;
  font-size: 25px;
  text-transform: lowercase;
}

.col h3 {
  color: #ffffff;
  font-family: serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.container-fluid {
  align-items: center;
  justify-content: center;
}

footer {
  min-height: 200px;
  background-color: rgb(117, 50, 26);
}

.footer-logo {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.footer-texto {
  color: blanchedalmond;
  font-size: 3rem;
  padding: 20px;
  margin: 30px;
  font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 30px;
  color: #aeaeae;
  padding: 20px;
}

/* productos */
section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  text-transform: uppercase;
}

.card {
  width: 100%;
  background-image: url(./multimedia/blob-scene-haikei\ \(1\).svg);
  background-size: cover;
  color: #020000;
  padding: 20px;
  border: 2px solid;
  gap: 10px;
}

.card-title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  margin-bottom: 15px;
}

.card-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}

.btnpr {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 70px;
  font-size: 20px;
  text-align: center;
  align-content: center;
  padding: 10px;
}

/* galeria de fotos */
.main {
  text-align: center;
}

.galeria {
  width: 100%;
  height: auto;
  background-color: coral;
  display: grid;
  background-image: url(./multimedia/blob-scene-haikei\ \(1\).svg);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
}

.titulos {
  font-size: serif;
  font-size: 40px;
  color: #ffffff;
}

.foto {
  border: 2px solid;
  background-size: cover;
  background-position: center;
}

.foto:hover {
  background-size: 140%;
}

.foto1 {
  background-image: url(./multimedia/img19.jpg);
}

.foto2 {
  background-image: url(./multimedia/img18.jpg);
}

.foto3 {
  background-image: url(./multimedia/img17.jpg);
}

.foto4 {
  background-image: url(./multimedia/img16.jpg);
}

.foto5 {
  background-image: url(./multimedia/img11.jpg);
}

.foto6 {
  background-image: url(./multimedia/img2.jpg);
}

.foto7 {
  background-image: url(./multimedia/img3.jpg);
}

.foto8 {
  background-image: url(./multimedia/img10.jpg);
}

.foto9 {
  background-image: url(./multimedia/img5.jpg);
}

.foto10 {
  background-image: url(./multimedia/img6.jpg);
}

.foto11 {
  background-image: url(./multimedia/img7.jpg);
}

.foto12 {
  background-image: url(./multimedia/img8.jpg);
}

.foto13 {
  background-image: url(./multimedia/img9.jpg);
}

.foto14 {
  background-image: url(./multimedia/img12.jpg);
}

.foto15 {
  background-image: url(./multimedia/img13.jpg);
}

.foto16 {
  background-image: url(./multimedia/img14.jpg);
}

@media only screen and (min-width: 320px) {
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(16, 200px);
  }
}
@media only screen and (min-width: 480px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 200px);
  }
}
@media only screen and (min-width: 768px) {
  .galeria {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
  .galeria .foto1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(./multimedia/img19.jpg);
  }
  .galeria .foto2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(./multimedia/img18.jpg);
  }
  .galeria .foto3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(./multimedia/img17.jpg);
  }
  .galeria .foto4 {
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url(./multimedia/img16.jpg);
  }
  .galeria .foto5 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(./multimedia/img11.jpg);
  }
  .galeria .foto6 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(./multimedia/img2.jpg);
  }
  .galeria .foto7 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(./multimedia/img3.jpg);
  }
  .galeria .foto8 {
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url(./multimedia/img10.jpg);
  }
  .galeria .foto9 {
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(./multimedia/img5.jpg);
  }
  .galeria .foto10 {
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url(./multimedia/img6.jpg);
  }
  .galeria .foto11 {
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url(./multimedia/img7.jpg);
  }
  .galeria .foto12 {
    grid-column: 4/5;
    grid-row: 3/4;
    background-image: url(./multimedia/img8.jpg);
  }
  .galeria .foto13 {
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url(./multimedia/img9.jpg);
  }
  .galeria .foto14 {
    grid-column: 2/3;
    grid-row: 4/5;
    background-image: url(./multimedia/img12.jpg);
  }
  .galeria .foto15 {
    grid-column: 3/4;
    grid-row: 4/5;
    background-image: url(./multimedia/img13.jpg);
  }
  .galeria .foto16 {
    grid-column: 4/5;
    grid-row: 4/5;
    background-image: url(./multimedia/img14.jpg);
  }
}
/* contacto */
.contactocaja {
  width: 85%;
  border: 2px solid;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.textcontacto {
  width: 85%;
  font-size: 15px;
  text-align: center;
  font-family: "Kotta One";
  text-align: center;
  color: #ffffff;
}

.textcontacto h3 {
  font-family: serif;
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  color: #ffffff;
}

form {
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.mapa {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=estilos.css.map */